@if (videoData) {
  @if (!isAgeConfirmed && videoData.isAgeRestricted) {
    <!-- Show Age Restricted Modal -->
    <app-age-restricted
      (confirmed)="handleAgeConfirmed()"
      (cancelled)="handleAgeCancelled()"
    ></app-age-restricted>
  } @else {
    <!-- Show Video Component -->
    <app-video-card
      #videoCardRef
      [videoUrl]="videoData.videoPath"
      [title]="videoData.title"
      [duration]="videoData.duration | duration"
      [channelName]="videoData.user.channelName ?? 'PlayX'"
      [views]="videoData.viewCount ?? 0 | viewCount"
      [createdAt]="videoData.createdAt | timeAgo"
      [profileImage]="videoData.user.image"
      [uuid]="videoData.uuid"
    ></app-video-card>
  }
}
