
<div class="min-h-screen bg-gray-100" style="background-image: url('https://preview.keenthemes.com/metronic8/demo1/assets/media/auth/bg7.jpg'); background-size: cover; background-position: center;">
  <div class="flex flex-col md:flex-row min-h-screen ">
    
    <!-- Left Side -->
    <div class="w-full md:w-1/2 flex items-center justify-center p-10">
      <div class="text-center text-white">
        <img src="images/logo.png" alt="Logo" class="mx-auto mb-4 w-1/3 sm:w-2/5 md:w-2/4 lg:w-2/6" />
        <h1 class="text-3xl font-bold">Reset Your Password</h1>
        <p class="mt-2 text-xl">We'll help you get back in</p>
      </div>
    </div>

    <!-- Right Side -->
    <div class="w-full md:w-1/2 flex items-center justify-center p-6">
      <div class="bg-white p-8 rounded-xl shadow-2xl w-full max-w-md">
        <div class="mb-6 text-center">
          <h2 class="text-2xl font-bold text-gray-800">Forgot Password?</h2>
          <p class="text-gray-500 text-sm mt-1">Enter your email address and we'll send you a reset link.</p>
        </div>

        <form class="space-y-5" [formGroup]="forgotPassword">
          <app-input
            [required]="true"
            label="Email"
            type="text"
            placeholder="Enter your email"
            [control]="forgotPassword.controls['email']"
            [errorMessages]="{
              required: 'Email is required.',
              maxlength: 'Email must be maximum 50 characters long.',
              pattern: 'Email is invalid.'
            }"
          />

          <app-button
            type="submit"
            text="Send Reset Link"
            [loading]="isSubmitting"
            [disabled]="!forgotPassword.valid || isSubmitting"
            (click)="submitForm()"
          >
          </app-button>
        </form>

        <div class="mt-5 text-center text-sm text-gray-600">
          Remember your password? <a [routerLink]="['/log-in']" routerLinkActive="router-link-active"  class="text-indigo-600 hover:underline">Sign In</a>
        </div>
      </div>
    </div>

  </div>
</div>